@model B2BWebApp.Models.Product

<div class="product-card raised">
    <div class="text-center title">
        @Model.Title
    </div>
    <div class="content">
        <div class="image">
            <img src="@Model.Image.Src" alt="@Model.Tags" />
        </div>
        <div class="variants">
            <table class="table table-xtra-condensed">
                <thead>
                    <tr>
                        <th>Variant</th>
                        <th>Order</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var variant in Model.Variants)
                    {
                        <tr>
                            <td>@variant.Title</td>
                            <td><input type="text" style="width:30px" /></td>
                            <td>@variant.InventoryQuantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="action">
        <span id="product-id" style="visibility:hidden;">@Model.Id</span>
        <button class="btn btn-success pull-right" id="btn-add-to-cart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Add to Cart
        </button>
    </div>
</div>